body {
    background-color: rgb(31, 27, 43);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.color-white {
    color: white;
}

#automata-outcanvas {
    display: flex;
    flex-direction: column;
}

.automata-content {
    height: 1000px !important;
    overflow: scroll;
}

.grammar-tests {
    margin-left: 80px;
}